.btn{
    border: 1px solid grey;
    width: 8.5rem;
    border-radius: 25px;
    padding: 12px 25px;
    font-weight: 600;
    font-size: .9rem;
    background-color: rgb(113, 172, 209);
    box-shadow: 2px 2px 5px;
}
.btn:hover{
    color: rgb(31, 30, 30);
    text-shadow: .3px .3px .4px ;
    transform: translateY(-5px);
    transition: all.4s;
    box-shadow: 2px 2px 5px rgb(70, 118, 140);
    cursor: pointer;
}
.btn-outlined{
    border: 1px solid rgb(113, 172, 209);
    width: 9rem;
    border-radius: 25px;
    padding: 12px 25px;
    font-weight: 600;
    font-size: .9rem;
    background-color: var(--black);
    color: var(--white);
    box-shadow: 2px 2px 5px var(--black);

}
.btn-outlined:hover{
    transition: all.4s;
    transform: translateY(-4px);
    box-shadow: 2px 2px 5px rgb(59, 102, 122);
    background-color: rgb(113, 172, 209);
    color: var(--black);
}
@media only screen and (max-width: 1250px) {
    .btn{
        font-size: .9rem;
        display: block;
        width: 7.6rem;
        padding: 12px;
        margin-left: 0;
        margin-right: 2.5rem;
    }
    .btn-outlined{
        font-size: .9rem;
        display: block;
        width: 7.6rem;
        padding: 12px;
        margin-left: 0;
    }
}
@media only screen and (max-width: 1000px) {
    .btn{
        font-size: .9rem;
        display: block;
        width: 7.6rem;
        padding: 12px;
        margin-right: 1rem;
    }
    .btn-flex{
       margin-left: 2.2rem;
    }
}
@media only screen and (max-width: 800px) {
    .btn{
        font-size: .8rem;
        display: block;
        width: 8rem;
        padding: 12px;

    }
    .btn-outlined{
        font-size: .8rem;
        display: block;
        width: 8.2rem;
        padding: 12px;
    }
    .btn-flex {
        margin-inline: auto;
        /* margin-left: 7rem; */
    }
}
@media only screen and (max-width: 550px) {
    .btn{
        font-size: .8rem;
        display: block;
        width: 9rem;
        padding: 12px;
    }
    .btn-outlined{
        font-size: .8rem;
        display: block;
        width: 9rem;
        padding: 12px;
    }
}