.select-flex{
    display: flex;
    justify-content: flex-start;
    margin-left: 4rem;
    gap: 2rem;
}
.select-coin{
  width: 8rem;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
    .select-flex{
        display: flex;
        justify-content: flex-start;
        padding-top: 1.5rem;
        margin: auto;
    }
    .select-coin{
        width: 5rem;
        margin-left: 1.8rem;
        text-align: center;
    }
    .select-flex p{
        margin-left: 1.7rem;
    }
}